

{{outlet}}

<div class="container">
  <hr>
  <form onsubmit={{action 'createArtist'}}>
    {{input type="text" class="form-control" placeholder=" Artist Name" value=artistName}}<br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
